<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/icons/lock.png" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <title>Iniciar sesi칩n</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <section class="section-login">
        <h1>Iniciar sesi칩n</h1>
        <form action="/login" method="post" class="form-login">
            <input type="text" name="username" placeholder="Nombre de usuario">
            <input type="password" name="password" placeholder="Contrase침a">
            <div class="icons-login">
                <img src="/icons/google.png" alt="">
                <img src="/icons/facebook.png" alt="">
            </div>
            <button type="submit">Iniciar sesi칩n</button>
        </form>
    </section>
</body>
</html>